* {
    font-family: 'League Spartan', sans-serif;
    margin: 0;
}

body {
    height: 100vh;
    background-color: hsl(180, 52%, 96%);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.filterbarContainer {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 120px;
    width: 1110px;
    height: 73px;
    border-radius: 5px;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 2px 10px 15px hsla(180, 28%, 50%, 0.15) ;
}

.jobListingsContainer {
    position: absolute;
    top: 230px;
    /* border: solid blue 1px; */
    width: 1110px;
}

.jobOffer {
    width: 1110px;
    height: 150px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 5px;
    box-shadow: 2px 10px 15px hsla(180, 28%, 50%, 0.15) ;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.logoAndJobInfo {
    display: flex;
}

.logo {
    margin: 30px 20px 30px 40px;
}

.jobInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 30px 0;
}

.companyNewFeatured {
    display: flex;
    align-items: center;
}

h1 {
    font-size: 20px;
    color: hsla(180, 14%, 20%, 1);
    font-weight: 700;
}

h2 {
    font-size: 15px;
    color: hsla(180, 28%, 50%, 1);
    font-weight: 700;
    padding-right: 20px;
}

p {
    font-size: 15px;
    color: hsla(180, 8%, 52%, 1);
    font-weight: 500;
}

.subInfo {
    display: flex;
    align-items: center;
}

.subInfoDetail {
    margin-right: 21.5px;
}

.jobDetailTags {
    display: flex;
    align-items: center;
    margin-right: 40px;
}

.jobDetailTag {
    font-size: 15px;
    color: hsla(180, 28%, 50%, 1);
    background-color: hsla(180, 31%, 95%, 1);
    margin-left: 10px;
    padding: 8px 9px;
    border-radius: 3px;
}

.tag {
    padding: 10px;
}

.newTag {
    margin-right: 10px;
    padding: 6px 6px 3px 8px;
    background-color: hsla(180, 28%, 50%, 1);
    border-radius: 15px;
    color: #fff;
}

.featuredTag {
    padding: 6px 6px 3px 8px;
    background-color: hsla(180, 14%, 20%, 1);
    border-radius: 15px;
    color: #fff;
}

.wrapper {
    display: flex;
}


/* .attribution {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 11px;
    text-align: center;

}

.attribution a {
    color: hsl(228, 45%, 44%);
} */